.testimonial .img-box {
  width: 14rem;
  margin: 0 auto;
}
.testimonial__content {
  width: 25%;
}
.owl-carousel .active span {
  background-color: #9bc0ff !important;
}
/* .owl-dots {
  margin-top: 3rem;
} */
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}
.owl-prev {
  color: inherit !important;
  left: 30%;
}
.owl-next {
  color: inherit !important;
  right: 30%;
}
.owl-index .owl-prev {
  left: 8%;
}
.owl-index .owl-next {
  right: 8%;
}
.owl-prev:hover,
.owl-next:hover {
  background-color: transparent !important;
  color: #5392ff !important;
}
.owl-nav .disabled {
  display: none !important;
}

.owl-index .owl-image {
  height: 55vw;
}

@media (max-width: 992px) {
  .testimonial__content {
    width: 50%;
  }
  .owl-prev {
    left: 10%;
  }
  .owl-next {
    right: 10%;
  }
  .owl-index .owl-prev {
    left: 7%;
  }
  .owl-index .owl-next {
    right: 7%;
  }
  .owl-index h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 768px) {
  .testimonial__content {
    width: 60%;
  }
  .owl-index h2 {
    font-size: 1.4rem;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 576px) {
  .testimonial__content {
    width: 90%;
  }
  .owl-prev,
  .owl-next {
    display: none !important;
  }
  .owl-index h2 {
    font-size: 1.2rem;
    margin-bottom: 0 !important;
  }
}
.container .card {
  transition: all .5s ease;
}
.container .card:hover {
  transform: translateY(-10px);
}